.password-container {
    max-width: 1300px !important;
    width: 1200px;
    margin: 70px auto 0 auto;
    height: 60vh;
  }
  
  .personal-h {
    font-size: 15px !important;
    letter-spacing: 0 !important;
    text-transform: none !important;
    font-weight: 500 !important;
    margin-bottom: 22px !important;
    color: #676767 !important;
  }
  
  @media only screen and (min-width: 1403px) {
    .personal-container {
      height: 62vh;
    }
  }
  
  @media only screen and (max-width: 1199px) and (min-width: 320px) {
    p {
      font-size: 13px !important;
      line-height: 1.2rem !important;
    }
  }
  

  .pass-sidebar {
    width: 300px;
    position: relative;
    height: 335px !important;
    left: -5%;
    bottom: 0;
    margin-left: 60px;
    box-shadow: none !important;
    margin-top: 20px;
    border-right: 0.5px solid #eee;
    border-bottom: 2px solid #d7d7d7;
  }
  
  .side-h {
    font-size: 19px;
    font-weight: 400;
    color: rgb(10, 56, 71);
  }
  
  .pass-sidebar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #1474f5;
    padding: 10px 19px;
    font-weight: 600;
    display: block;
  }
  
  .active-link {
    background: #eeeeee;
    color: #000 !important;
    border-radius: 2px;
  }
  
  .pass-sidebar a:hover {
    background: #eeeeee;
    color: #f36f37 !important;
    border-radius: 2px;
  }

  .pass-main {
    position: relative;
    top: -316px;
    width: 85%;
    padding-left: 10px;
    margin-left: 300px; /* Same as the width of the sidenav */
    h2 {
      font-size: 18px;
      font-weight: 500;
      margin-left: 13px;
      margin-bottom: 22px;
      color: rgb(102, 102, 102);
    }
    p {
      font-size: 12px;
      font-weight: 500;
      color: rgb(102, 102, 102);
    }
  }