// ! Global styles
$primary-bg: #f83;

// * Modal related variables
$modal-width: 675px;
// $modal-width: 100px;

//  ? media queries
$max-width-sm: 360px;
$max-width-md: 600px;
$max-width-lg: 1000px;
$min-width-xl: 1200px;
